<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %-5p [%t] %c{1}:%L - %m%n
            </Pattern>
        </layout>
    </appender>

    <!-- Module classes -->
    <logger name="test.sdc" level="INFO" />

    <!-- Root logger option -->
    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

</configuration>